<article class="timeline-entry">
    <div class="timeline-date">12/ 2016</div>
    <div class="timeline-body">
        <h3>Research Stay</h3>
        <p class="org">University Alliance for Sustainability – Peking University, Beijing/ China</p>
    </div>
</article>
<article class="timeline-entry">
    <div class="timeline-date">08/ 2010</div>
    <div class="timeline-body">
        <h3>Summer School: International Relations</h3>
        <p class="org">Fudan University, Shanghai/ China</p>
    </div>
</article>
<article class="timeline-entry">
    <div class="timeline-date">2005 – 2006</div>
    <div class="timeline-body">
        <h3>Erasmus Exchange: European Studies</h3>
        <p class="org">Masarykova Univerzita, Brno/ Czech Republic</p>
    </div>
</article>
<article class="timeline-entry">
    <div class="timeline-date">04/ 2006</div>
    <div class="timeline-body">
        <h3>Spring School: European Studies</h3>
        <p class="org">EUROPEUM, Prague/ Czech Republic</p>
    </div>
</article>
<article class="timeline-entry">
    <div class="timeline-date">05/ 2005</div>
    <div class="timeline-body">
        <h3>Research Stay</h3>
        <p class="org">Project course "Berlin – Kazan: Unity in Diversity?!" – Kazan University, Kazan/ Russia</p>
    </div>
</article>
<article class="timeline-entry">
    <div class="timeline-date">07–08/ 2003</div>
    <div class="timeline-body">
        <h3>Internship</h3>
        <p class="org">BIRLA Home Finance Ltd. – New Delhi/ India</p>
    </div>
</article>
