<article class="timeline-entry">
    <div class="timeline-date">2009 – 2011</div>
    <div class="timeline-body">
        <h3>Master of Arts: Osteuropastudien</h3>
        <p class="org">Freie Universität Berlin</p>
        <p>Schwerpunkt: Politikwissenschaft<br>Ergänzungsfächer: Wirtschaft, Russisch</p>
    </div>
</article>

<article class="timeline-entry">
    <div class="timeline-date">2003 – 2008</div>
    <div class="timeline-body">
        <h3>Diplom: Politikwissenschaft</h3>
        <p class="org">Philipps-Universität Marburg</p>
        <p>Nebenfächer: Rechtswissenschaften, Friedens- und Konfliktforschung</p>
    </div>
</article>
