<article class="timeline-entry">
    <div class="timeline-date">2009 – 2011</div>
    <div class="timeline-body">
        <h3>Master of Arts: East European Studies</h3>
        <p class="org">Freie Universität Berlin</p>
        <p>Focus: Political Science<br>Supplementary subjects: Economics, Russian</p>
    </div>
</article>

<article class="timeline-entry">
    <div class="timeline-date">2003 – 2008</div>
    <div class="timeline-body">
        <h3>Diploma: Political Science</h3>
        <p class="org">Philipps-Universität Marburg</p>
        <p>Minor subjects: Law, Peace and Conflict Studies</p>
    </div>
</article>
